html{
    font-size: 16px;
}
.oculta{
    display: none;
}
.fa-code{
    color: #42A5F5;
}
.redes{
    color: #516A7D;
}
.redes:hover{
    color: #2C3B46;
    cursor: pointer;
}
lista{
    color: #42A5F5;
}
lista:hover{
    cursor: pointer;
}
h2{
    color: rgb(90, 121, 153);
}
.fila{
    margin-left: 10%;
}
.img-fluid{
    margin-top: 35%;
}
.my-col{
    display: block;
    background-color: #EAEAEA;
}
.img-fluid{
    border-radius: 10px;
    width: 35%;
    height: auto;
}
.list-group-item{
    border-style: none;
}
.mt-3{
    margin-top: $spacer !important;
}
.mt-4{
    margin-top: ($spacer * 1.5) !important;
}
.mt-5{
    margin-top: ($spacer * 3) !important;
}

.experience {
    list-style: none;
    padding: 30px 0 20px;
    position: relative;
}

.experience:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #DCE3E6;
    left: 50%;
    margin-left: -1.5px;
}

.experience > li {
    margin-bottom: 20px;
    position: relative;
}

.experience > li:before,
.experience > li:after {
    content: " ";
    display: table;
}

.experience > li:after {
    clear: both;
}

.experience > li:before,
.experience > li:after {
    content: " ";
    display: table;
}

.experience > li:after {
    clear: both;
}

    .experience > li > .experience-panel {
        width: 44%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 15px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

        .experience > li > .experience-panel:before {
            position: absolute;
            top: 26px;
            right: -15px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 15px solid #ccc;
            border-right: 0 solid #ccc;
            border-bottom: 15px solid transparent;
            content: " ";
        }

        .experience > li > .experience-panel:after {
            position: absolute;
            top: 27px;
            right: -14px;
            display: inline-block;
            border-top: 14px solid transparent;
            border-left: 14px solid #fff;
            border-right: 0 solid #fff;
            border-bottom: 14px solid transparent;
            content: " ";
        }

    .experience > li > .experience-circle {
        color: #fff;
        width: 25px;
        height: 25px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 32px;
        left: 50%;
        margin-left: -12px;
        background-color: #DCE3E6;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .experience > li.experience-inverted > .experience-panel {
        float: right;
    }

        .experience > li.experience-inverted > .experience-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        .experience > li.experience-inverted > .experience-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }


.experience-title {
    margin-top: 0;
}

.experience-body > p,
.experience-body > ul {
    margin-bottom: 0;
}

    .experience-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 997px) {
    ul.experience:before {
        left: 40px;
    }

    ul.experience > li > .experience-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.experience > li > .experience-circle {
        left: 28px;
        margin-left: 0;
        top: 25px;
    }

    ul.experience > li > .experience-panel {
        float: right;
    }

    ul.experience > li > .experience-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.experience > li > .experience-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .my-col{
        display: none;              
    }
    .oculta{
        display: block;
        background-color: #EAEAEA;
    }
    .img-fluid{
        margin-top: 0%;
    }
    .fila{
        margin-left: 2%;
    }
}